<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Banklink - PHP {{ 'library' | trans }}{% block title %}{% endblock %}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/gh-fork-ribbon.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/Inori/Banklink-docs">Fork me on GitHub</a>
        </div>
    </div>

    <div class="container-narrow">
        <div class="masthead">
            {% block navigation %}
                <ul class="nav nav-pills pull-right">
                    <li><a href="#about">{{ 'about' | trans }}</a></li>
                    <li><a href="#support-status">{{ 'support_status' | trans }}</a></li>
                    <li><a href="#download">{{ 'download' | trans }}</a></li>
                    <li><a href="#examples">{{ 'examples' | trans }}</a></li>
                    {# @todo add translations
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ app.locale | trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for locale in ['et', 'ru', 'en'] %}
                                <li class="{% if locale == app.locale %}active{% endif %}">
                                    <a href="{{ path('homepage', { '_locale' : locale}) }}">{{ locale | trans }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    #}
                </ul>
            {% endblock %}
            <h3><a href="{{ url('homepage') }}">Banklink</a></h3>
        </div>

      {% block content %}{% endblock %}

      <div class="footer">
        <p class="pull-right">&copy; <a href="mailto:inoryy@gmail.com">Roman Marintšenko</a></p>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36574609-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>