{% extends '_base.html.twig' %}

{% block content %}
    <div class="jumbotron">
      <p class="lead">{{ 'pitch_line' | trans }}</p>
      <a class="btn btn-large btn-success" href="#download">{{ 'download' | trans }}</a>
      <a class="btn btn-large btn-info" href="#examples">See how it works</a>
    </div>

    <hr>

    <h3 id="about">{{ 'about' | trans }}</h3>
    <p>Banklink a is simple to use, powerful and reliable PHP library for all your banking integration needs.</p>

    <div class="row-fluid marketing">
      <div class="span6">
        <h4>Open source</h4>
        <p>Banklink is distributed with MIT license. This means that you're free to use it, copy it, modify it at no cost.</p>

        <h4>Documentation</h4>
        <p>Banklink functionality is well-documented with both real-life examples and PHPDoc blocks.</p>

        <h4>Modern</h4>
        <p>Banklink is built with the help of modern technologies and services, such as <a target="_blank" href="https://github.com/">GitHub</a>, <a target="_blank" href="https://travis-ci.org/">Travis CI</a>, <a target="_blank" href="http://getcomposer.org/">Composer</a>.</p>
      </div>

      <div class="span6">
        <h4>Architecture</h4>
        <p>Banklink is built with OOP architecture in mind. It's not only easy to use, but also easy to extend.</p>

        <h4>Test coverage</h4>
        <p>Banklink code stability is backed up by numerous passing tests. <a target="_blank" href="https://travis-ci.org/Inori/Banklink"><img src="https://travis-ci.org/Inori/Banklink.png" /></a></p>

        <h4>Standards compliant</h4>
        <p>Banklink is compliant with <a target="_blank" href="http://www.php-fig.org/">PSR-0/1/2</a> standards.</p>
      </div>
    </div>

    <hr>

    <h3 id="support-status">Support status</h3>
    <p>Banklink is a constantly evolving project, so if something you need isn't supported, please come back in a few weeks - chances are it will be then.<br />
    If you need a feature that isn't listed below or find a bug, please open a ticket on <a target="_blank" href="https://github.com/Inori/Banklink/issues">GitHub</a>.</p>

    <div class="row-fluid marketing">
        <table class="table">
            <thead>
              <tr>
                <th>{{ 'bank' | trans }}</th>
                <th>{{ 'payments' | trans }}</th>
                <th>{{ 'authentication' | trans }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a target="_blank" href="http://www.swedbank.ee/">Swedbank</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.lhv.ee/">LHV</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.seb.ee/">SEB</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.nordea.ee/">Nordea</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.estcard.ee/">EstCard</a></td>
                <td><span class="label label-important">{{ 'no' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.sampopank.ee/">Sampo</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.krediidipank.ee/">Krediidipank</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
            </tbody>
        </table>
    </div>
    <hr>

    <h3 id="download">Download</h3>

    <div class="row-fluid marketing">
        <p>The recommended way to install Banklink is through <a target="_blank" href="http://getcomposer.org/">Composer</a>. Just create a <code>composer.json</code> file with contents below and run the <code>php composer.phar install</code> command to install it:</p>
<pre>
{
    "require": {
        "inori/banklink" : "~0.2"
    }
}</pre>

        <p>Alternatively you can either clone the latest version with git: <code> git clone git//github.com/Inori/Banklink.git</code>
           or simply download it directly on <a target="_blank" href="https://github.com/Inori/Banklink/tags">GitHub</a> downloads page.</p>
    </div>

    <hr>

    <h3 id="examples">Examples</h3>

    <div class="row-fluid marketing">

        <div class="span12">
            <p>Below is a demo application that shows you how Banklink applications work, requests go to <a href="https://www.pangalink.net/">Pangalink</a> service. Code is available on <a href="https://github.com/Inori/Banklink-docs">github</a>.</p>
            {% include '_payment_table.html.twig' %}
        </div>
        <div id="checkout" class="span12">
            <div class="alert alert-info">To start the payment simply click on suitable Bank name below</div>
            <a data-bank="swedbank" href="#" class="btn btn-success start-transaction">Swedbank</a>
            <a data-bank="lhv" href="#" class="btn btn-success start-transaction">LHV</a>
            <a data-bank="seb" href="#" class="btn btn-success start-transaction">SEB</a>
            <a data-bank="danskebank" href="#" class="btn btn-success start-transaction">Danskebank</a>
            <a data-bank="krediidipank" href="#" class="btn btn-success start-transaction">Krediidipank</a>
            <a data-bank="nordea" href="#" class="btn btn-success start-transaction">Nordea</a>
            <a data-bank="seb_test" href="#" class="btn btn-info start-transaction">SEB (SEB-i testkond)</a>
            {% include '_form.html.twig' with { 'request' : swedbank, 'bank' : 'swedbank' } %}
            {% include '_form.html.twig' with { 'request' : lhv, 'bank' : 'lhv' } %}
            {% include '_form.html.twig' with { 'request' : seb, 'bank' : 'seb' } %}
            {% include '_form.html.twig' with { 'request' : seb_test, 'bank' : 'seb_test' } %}
            {% include '_form.html.twig' with { 'request' : danskebank, 'bank' : 'danskebank' } %}
            {% include '_form.html.twig' with { 'request' : krediidipank, 'bank' : 'krediidipank' } %}
            {% include '_form.html.twig' with { 'request' : nordea, 'bank' : 'nordea' } %}
        </div>
        <div id="example-code" class="span12">
            <p>Below is a simple code sample you can copy to your controller/template and see in action:</p>
<pre>
// get Banklink instances for banks you want to support
// Protip: use DIC like <a href="http://pimple.sensiolabs.org/">Pimple</a> to handle Banklink classes instantiation
$protocol = new \Banklink\Protocol\iPizza(
    'uu11223344',
    'Banklink',
    '119933113300',
    __DIR__.'/../data/Swedbank/private_key.pem',
    __DIR__.'/../data/Swedbank/public_key.pem',
    'http://banklink.inoryy.com/banklink/swedbank'
);
$swedbank = new \Banklink\Swedbank($protocol);

// Prepare requests with desired parameters, then pass them to your templates
$swedbankRequest = $swedbank->preparePaymentRequest(1, 25, $message = 'Beer + Movie');
</pre>
<pre>
&lt;form action="&lt;?php echo $swedbankRequest->getRequestUrl() ?&gt;" method="post"&gt;
    &lt;?php $swedbankRequest->buildRequestHtml() ?&gt;
    &lt;input type="submit" value="Swedbank" /&gt;
&lt;/form&gt;
</pre>
        </div>
    </div>

    <hr>

{% endblock %}