{% extends '_base.html.twig' %}

{% block content %}
    <div class="jumbotron">
      <p class="lead">{{ 'pitch_line' | trans }}</p>
      <a class="btn btn-large btn-success" href="#download">{{ 'download' | trans }}</a>
      <a class="btn btn-large btn-info" href="#examples">See how it works</a>
    </div>

    <hr>

    <h3 id="about">{{ 'about' | trans }}</h3>
    <p>Banklink is distributed with MIT license. This means that you're free to use it, copy it, modify it at no cost.</p>

    <div class="row-fluid marketing">
      <div class="span6">
        <h4>Open source</h4>
        <p>Banklink is distributed with MIT license. This means that you're free to use it, copy it, modify it at no cost.</p>

        <h4>Documentation</h4>
        <p>Banklink functionality is well-documented with both real-life examples and PHPDoc blocks.</p>

        <h4>Modern</h4>
        <p>Banklink is built with the help of modern technologies and services, such as Github, Travis CI, Composer.</p>
      </div>

      <div class="span6">
        <h4>Architecture</h4>
        <p>Banklink is built with OOP architecture in mind. It's not only easy to use, but also easy to extend.</p>

        <h4>Test coverage</h4>
        <p>Banklink code stability is backed up by numerous passing tests.</p>

        <h4>PSR compliant</h4>
        <p>Banklink is compliant with <a target="_blank" href="http://www.php-fig.org/">PSR-0/1/2</a> standards.</p>
      </div>
    </div>

    <hr>

    <h3 id="support-status">Support status</h3>
    <p>Banklink is distributed with MIT license. This means that you're free to use it, copy it, modify it at no cost.</p>

    <div class="row-fluid marketing">
        <table class="table">
            <thead>
              <tr>
                <th>{{ 'bank' | trans }}</th>
                <th>{{ 'payments' | trans }}</th>
                <th>{{ 'authentication' | trans }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a target="_blank" href="http://www.swedbank.ee/">Swedbank</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.lhv.ee/">LHV</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.seb.ee/">SEB</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.nordea.ee/">Nordea</a></td>
                <td><span class="label label-important">{{ 'no' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.estcard.ee/">EstCard</a></td>
                <td><span class="label label-important">{{ 'no' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.sampopank.ee/">Sampo</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
              <tr>
                <td><a target="_blank" href="http://www.krediidipank.ee/">Krediidipank</a></td>
                <td><span class="label label-success">{{ 'yes' | trans }}</span></td>
                <td><span class="label label-warning">{{ 'no' | trans }}</span></td>
              </tr>
            </tbody>
        </table>
    </div>
    <hr>

    <h3 id="download">Download</h3>

    <div class="row-fluid marketing">
        <p>The recommended way to install Banklink is through <a target="_blank" href="http://getcomposer.org/">Composer</a>. Just create a <code>composer.json</code> file with contents below and run the <code>php composer.phar install</code> command to install it:</p>
<pre>
{
    "require": {
        "inori/banklink" : "~0.1"
    }
}</pre>

        <p>Alternatively you can either clone the latest version with git: <code> git clone git//github.com/Inori/Banklink.git</code>
           or simply download it directly on <a target="_blank" href="https://github.com/Inori/Banklink/tags">GitHub</a> downloads page.</p>
    </div>

    <hr>

    <h3 id="examples">Examples</h3>

    <div class="row-fluid marketing">
        <div class="span12">
            <p>Below is a demo application that shows you how Banklink applications work, requests go to <a href="https://www.pangalink.net/">Pangalink</a> service. Code is available on <a href="https://github.com/Inori/Banklink-docs">github</a>.</p>
            <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{{ 'name' | trans }}</th>
                    <th>{{ 'quantity' | trans }}</th>
                    <th>{{ 'price_per_item' | trans }}</th>
                    <th>{{ 'price_total' | trans }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Guinness Original/Extra Stout</td>
                    <td>5</td>
                    <td>2 &euro;</td>
                    <td>10 &euro;</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>The Shawshank Redemption (Blu-Ray Disc)</td>
                    <td>1</td>
                    <td>15 &euro;</td>
                    <td>15 &euro;</td>
                  </tr>
                </tbody>
            </table>
            <div class="pull-right"><strong>Total</strong>: 25 &euro;</div>
        </div>
        <div id="checkout" class="span12">
            <div class="alert alert-info">To start the payment simply click on suitable Bank name below</div>
            <a class="btn btn-success">Swedbank</a>
            <a class="btn btn-success">LHV</a>
            <a class="btn btn-success">SEB</a>
            <a class="btn btn-success">Sampo</a>
            <a class="btn btn-success">Krediidipank</a>
            {% include '_form.html.twig' with { 'request' : swedbank } %}
        </div>
        <div id="example-code" class="span12">
            <p>Below is a simple code sample you can copy to your controller/template and see in action:</p>
<pre>
// get Banklink instances for banks you want to support
// Protip: use <a href="">DIC</a> to handle Banklink classes instantiation
$protocol = new \Banklink\Protocol\iPizza(
    'uu11223344',
    'Banklink',
    '119933113300',
    __DIR__.'/../data/Swedbank/private_key.pem',
    __DIR__.'/../data/Swedbank/public_key.pem',
    'http://banklink.inoryy.com/banklink/swedbank'
);
$swedbank = new \Banklink\Swedbank($protocol);

// Prepare requests with desired parameters, then pass them to your templates
$swedbankRequest = $swedbank->preparePaymentRequest(1, 25, $message = 'Beer + Movie');
</pre>
<pre>
&lt;form action="&lt;?php echo $swedbankRequest->getRequestUrl() ?&gt;" method="post"&gt;
    &lt;?php foreach ($swedbankRequest->getRequestData() as $name =&gt; $field): ?&gt;
        &lt;input type="hidden" value="&lt;?php echo $field ?&gt;" /&gt;
    &lt;?php endforeach; ?&gt;

    &lt;input type="submit" value="Swedbank" /&gt;
&lt;/form&gt;
</pre>
        </div>
    </div>

    <hr>

{% endblock %}